* {
    margin: 0px;
    font-family: 'Lato';
    /* width: 100%; */
}

.btn-prime {
    width: 133px;
    height: 48px;
    background-color: #E55473;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.Lal {
    color: #E55473;
}

/* Header */
.header {
    height: 635px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.10);
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
}

.header-text {
    margin-top: 147px;
    /* margin-left: 110px; */
}

.header-h1 {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 800;
}

.header-p {
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 24px;
}

.header-img {}

.header-flower {
    width: 475px;
    margin-top: 39px;
}

/* Main */

.window {
    height: 695px;
    padding-top: 133px;
}

.window-text {
    text-align: center;
    margin-bottom: 36px;
}

.window-h2 {
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 800;
}

.window-p {
    color: rgba(39, 39, 39, 0.60);
}

.windows {
    display: flex;
    justify-content: center;
    gap: 17px;
}

.window-flower {
    width: 346px;
    height: 402px;
    margin-bottom: 24px;
    background-color: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 200px 200px 0px 0px;

}

.window-flower2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.window-flower3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.p-bottom {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.flowerX {
    width: 231px;
    margin-top: 82px;
}

.flower2 {
    height: 231px;
    margin-top: 100px;
}
/* Autumn */
.Autumn-container{
    height: 600px;
    width: 100%;
}
.Autumn{
    height: 600px;
    background-image: url('./Flower Asset/IMG_20230711_132729.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 100px;
}
.Autumn-btn{
    margin-top: 27px;
    background-color: white;
    color: #E55473;
    width: 200px;
    /* padding: auto; */
}
.Autumn-h2{
    font-size: 40px;
    font-weight: 800;
}

/* Gift */
.Gift-container{
    display: flex;
    justify-content: center;
}
.Gift-Availability{
    width: 75%;
    height: 200px;
    background-color: rgb(6, 170, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -40px;
    margin-bottom: 97px;
    /* gap: 20px; */
}
.Gift-text{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.Gift-input{
    width: 133px;
    height: 48px;
    border: none;
    margin-right: 7px;
    border-radius: 3px;
    padding-left: 5px;
}
.Select-input{
    margin-right: 30px;
}

/* Sale */
.Sale {
    height: 463px;
    background-color: rgba(229, 84, 115, 0.122);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 139px;
}

.Sale-text {
    text-align: center;
}

.Sale-h1 {
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 800;
}

.Sale-p {
    margin-bottom: 18px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}

.Sale-img {
    width: 237px;
}

/* Instagram */
.Instagram {
    margin-top: 96px;
    margin-bottom: 96px;
}

.Insta-images {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.Insta-image {
    width: 255px;
    box-shadow: 5px 5px 5px gray;
}

.Insta-p {
    margin-bottom: 36px;
}

/* Subscription */
.Subs-div {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.subscription {
    width: 75%;
    height: 336px;
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Subs-text {
    margin-top: 91px;
}

.Subs-form {
    display: flex;
    justify-content: center;
}

.Form-input {
    width: 523px;
    height: 24px;
    padding: 20px;
    border: none;
    margin-right: 12px;
}

/* Services */
.service-div {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.services {
    width: 75%;
    height: 239px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
}

.service-icons {
    text-align: center;
}

.icon {
    height: 66px;
    width: 66px;
    margin-bottom: 18px;
}

/* Footer */
.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 336px;
    background-color: #111010;
}

footer {
    color: white;
    text-align: center;
    /* padding-top: 96px; */
}

.footer-p {
    color: white;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
}
